@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  @apply h-[300px] mx-auto w-[600px] rounded-3xl max-w-2xl bg-surface-50-900-token;
}

body {
  transition: all 400ms ease-in-out;
}
